
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Jellypic - Privacy Policy</title>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" />
    <style>
        html {
            box-sizing: border-box;
        }

        html,
        body {
            margin: 0;
            padding: 0;
            color: #333;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 14px;
            line-height: 1.4;
            background: #f0f0f0;
        }

        *,
        *:before,
        *:after {
            box-sizing: inherit;
        }

        .font-lobster {
            font-family: 'Lobster', cursive;
            font-size: 26px;
        }

        a {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

        a:hover {
            color: #555;
        }

        h1{
            font-size: 140%;
        }

        .container {
            max-width: 720px;
            margin: auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="font-lobster"><a href="/">Jellypic</a></div>
        <h1>Privacy Policy</h1>
        <p>
            Users of Jellypic (the &quot;Site&quot;) are hereinafter collectively referred to as &quot;Users&quot; and individually as the &quot;User&quot;.
            By using the Site the User agrees to the Privacy Policy stated here. The Site is entitled to amend the Privacy Policy at any time without informing Users, by updating this page. It is the User’s responsibility to revisit this page periodically to ensure the receipt of updated information and Users are deemed to be aware of all amendments. Users who do not agree with amendments to the Privacy Policy shall immediately stop using the Site.
        </p>
        <p>
            The Site recognizes that the growth of on-line services, including Internet services, has created additional privacy concerns, particularly for consumers. Accordingly, the Site has put in place the following On-line Privacy Policy.
        </p>
        <p>
            On-line privacy concerns focus primarily on the protection of &ldquo;customer identifiable&rdquo; information which an individual or other customer reasonably expects to be kept private. As the term suggests, &ldquo;customer identifiable&rdquo; information is information that, when associated with an individual identifies that individual, for example, a customer&rsquo;s name, address, telephone number, and e-mail address.
        </p>
        <p>
            Collection and Use: the Site will collect and use user identifiable information for personalization purposes, to provide and change service, to anticipate and resolve problems with the User&rsquo;s service, or to create and inform the User of products and services that better meet the User&rsquo;s needs. This means that the Site may use the User&rsquo;s identifiable information, in conjunction with information available from other sources, to market new services to the User that we think will be of interest to the User.
        </p>
        <p>
            The User may opt out of receiving information regarding products and services at any time. After opting out, the User will no longer receive information from the Site.
        </p>
        <p>
            When the User accesses the Internet, the computers that host web sites the User visits (&ldquo;web servers&rdquo;) automatically receive some anonymous information. This &ldquo;usage data&rdquo; may include a record of which pages a web browser has visited. The Site&rsquo;s servers receive usage data when the User visits the Site, and when the User visits other sites as well. The Site may use usage data to provide advertising about goods and services that may be of interest to the User, or to provide customized features and services. The Site will not use information about the User&rsquo;s activities on the Internet together with any information that identifies the User without the User&rsquo;s consent.
        </p>
        <p>
            The Site may use various kinds of software devices to collect information about Internet use. Small files called &ldquo;cookies&rdquo; may be attached to the User&rsquo;s Web browser. The User can set the User&rsquo;s browser to disable cookies, but the Site may not work properly if the User does so.
            The Site uses cookies for a variety of purposes in order to improve your online experience, for analytics and for marketing, but specifically the Site use cookies on the Site for the following purposes:
            <ul>
                <li>Identification: The Site uses cookies to identify the User&rsquo;s browser so the Site can recognize the User. </li>
                <li>Analytical Purposes: The Site uses cookies to analyze user activity in order to improve the Site.</li>
            </ul>
        </p>
    </div>
</body>
</html>
